@model IEnumerable<PostcodeEditor.SeparatedInterfaces.IPostcode>

@{
    ViewBag.Title = "Postcode Editor";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <p>
        <input type="file" id="file" name="file" formenctype="multipart/form-data" />
    </p>
    <p>
        <input type="submit" value="Upload" />
    </p>
}

@Html.Partial("list", Model)

