@model IEnumerable<PostcodeEditor.SeparatedInterfaces.IPostcode>

@{
    ViewBag.Title = "Postcode Editor";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <p>
        <input type="file" id="file" />
    </p>
    <p>
        <input type="submit" value="Upload" />
    </p>
}

@Ajax.ActionLink("Show list", "/",
    new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "postcodeList"
    })

@Html.Partial("list", Model)