@model IEnumerable<PostcodeEditor.SeparatedInterfaces.IPostcode>

@{
    ViewBag.Title = "Postcode Editor";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        <input type="file" id="file" name="file" />
    </p>
    <p>
        <input type="submit" value="Upload"/>
    </p>
}

<p>Total postcodes: @ViewBag.TotalPostcodes</p>

@Html.Partial("list", Model)

