@using PostcodeEditor.SeparatedInterfaces

@model IEnumerable<IPostcode>

<div id="postcodeList">
    <h3>Postcodes</h3>

    @foreach (IPostcode postcode in Model)
    {
        <div class="field-container">
            @Html.DisplayFor(p => postcode, "IPostcode")
        </div>
    }
</div>
