@using PostcodeEditor.SeparatedInterfaces

@model IEnumerable<IPostcode>

@{
    ViewBag.Title = "Postcodes";
}

<h2>@ViewBag.Title</h2>

@foreach (IPostcode postcode in Model)
{
    <p>@postcode.Postcode</p>
    <p>@postcode.CountryRegion</p>
}